<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <title>Jasmine suite</title>

    <%= stylesheet_link_tag "jasmine_rails/application" %>
    <%= javascript_include_tag "jasmine_rails/application" %>

    <!-- executing jasmine's runner -->
    <script type="text/javascript">
      var jsApiReporter;
      (function() {
        var jasmineEnv = jasmine.getEnv();

        jsApiReporter = new jasmine.JsApiReporter();
        var trivialReporter = new jasmine.TrivialReporter();

        jasmineEnv.addReporter(jsApiReporter);
        jasmineEnv.addReporter(trivialReporter);

        jasmineEnv.specFilter = function(spec) {
          return trivialReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function() {
          if (currentWindowOnload) {
            currentWindowOnload();
          }
          execJasmine();
        };

        function execJasmine() {
          jasmineEnv.execute();
        }

      })();
    </script>
  </head>
  <body>
    <div id="jasmine_content"></div>
    <%= yield %>
  </body>
</html>